.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 2px solid #721EE3
}

.has-yellow-background {
    background-color: yellow;
    border: 2px solid #E38C1E
}

